{% extends 'base.html' %}

{% block content %}
<!-- start about page -->
  <!-- start of main section -->
    <!-- start of about section -->
    <div class="whimsical">
      <div class="squeeze-in">
        <h3>About Ari</h3>
        <div><img class="float-md-left" src="/static/images/ari_carryrock.jpg" alt="Ari supposedly carrying a huge rock"></div>
        <p>I love any excuse to be creative, even if only in my mind. One such thing is imagining the dream home I've only fantasized about since I was 19: Decorating and redecorating rooms according to the season, planting my favorite herbs and flowers the gardens, going through the secret passages to secret rooms, planning emergency escape routes and supplies, and adding functionalities.</p>
        <p>Another creative mental exercise I love is planning our next travel destination: things to do, food to eat, places to see, listing things about the culture we need to be aware of, etc.</p>
        <p>I get pretty obsessed when I need to plan for a party or a trip. It's almost a mental sickness. At times, I can't sleep, because I'm 'living' what I need to complete in my dreams: trying to find snags and solving problems--sadly, waking up tired all the time.</p>
        <p>In a previous life, I was a perennial administrative assistant across different industries; I used to was oftentimes picked to be in the jury box; and usually found myself "volunteered" to be on the company safety team.</p>
        <p>Currently, aside from constantly learning and trying to keep up with the latest and greatest of tools to build beautiful, responsive websites alongside my partner, I lead a double-life as a Facebook secretary, nutritionist, dream analyzer, masseuse, card game opponent and muse, usually occurring during breaks in between working on websites. I aspire to play in a band, play the ukelele, and be a really, super-badass code ninja. I'm an incessant list-taker, over-thinker, planner, and have been accused of Googling all the time.</p>
      </div>
    </div>
    <!-- end of about section -->
  <!-- end of main section -->
<!-- end of about page -->
{% endblock content %}