{% extends 'base.html' %}

{% block content %}
<!-- start projects page -->
  <!-- start main section -->
    <!-- start of projects section -->
    <div class="container pretty-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="blog_img" src="/static/images/piequeentable.jpg" alt="Intimate wedding table set at Lois the Pie Queen Restaurant">
            <p class="font-italic"><a href="#">www.aprilfoolsatpiequeen.com</a></p>
            <h6>April Fool's Wedding</h6>
            <p>A whimsical, quirky couple decided to have their wedding at their favorite restaurant, having the restaurant owner, and personal friend of theirs, marry them. They wanted a fun, heartwarming, and intimate album-type website to commemorate the special event.</p>
          </div>
          <div class="col-md-6">
            <img class="blog_img" src="/static/images/50thteaparty.png" alt="Three-tiered silver tray containing high tea finger foods at table with tea cups and saucers">
            <p class="font-italic"><a href="#">www.50thbdteaparty.com</a></p>
            <h6>50th Birthday Tea Party Website</h6>
            <p>The client had a casual, no-fuss gathering for her 50th birthday, where she had only her closest and dearest friends over for a tea party. She asked if her site could convey the whimsical, intimate mood of the party.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of projects section -->
  <!-- end of main section -->
<!-- end of projects page -->
{% endblock content %}